html {
    scroll-behavior: smooth;
    min-width: 100vw;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f5ebd0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.photo-profil {
    width: 150px;
    height: 150;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0px;
    cursor: pointer;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.content {
    margin: 0 auto;
    max-width: 90vw;
    width: 800px;
    padding: 20px;
    text-align: justify;
}

.banner-content {
    width: 800px;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 130px;
    padding-top: 50px;
}

.intro h1 {
    font-size: 27pt;
    font-weight: bold;
    margin: 0px;
}

.intro h2 {
    font-size: 20pt;
    font-weight: 300;
    margin: 0px;
    font-variant: small-caps;
}

.intro .bottom-banner {
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    font-weight: normal;

    display: flex;
    justify-content: space-between;
    width: inherit;
    max-width: inherit;
}

.projects-dot {
    display: flex;
    justify-content: start;
    align-items: center;
}

.projects-dot > div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.2s;
}

.projects-dot > div:hover {
    transform: scale(1.1);
}

.content p {
    font-size: 13pt;
}

.project-zone {
    margin: 0px;
    min-width: 100vw;
    padding: 10px 0px;
    min-height: 80vh;
    background-color: lightgray;

    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;


}

.project-zone.white {
    color: white;
}


.right-banner {
    max-width: 65%;
}

.project-timeline {
    opacity: 70%;
    font-size: 13pt;
    font-weight: bold;
    margin: 5px 0px;
    margin-bottom: 15px;
}

.images-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 90vw;
}

.images-list img {
    margin: 5px;
    width: 400px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    background-color: gray;
    align-content: start;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}

.images-list img.portrait {
    width: 300px;
    height: 500px;
}

.images-list img:hover {
    filter: brightness(0.8);
}

.action-button {
    background-color: #FFFFFF00;
    color: black;

    border-radius: 4px;
    
    font-weight: bold;
    font-size: 12pt;
    padding: 12px 20px;
    border: 3px solid black;
    cursor: pointer;
    text-wrap: nowrap;
    width: fit-content;
    margin: 3px 0px;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
}

.project-zone.white .action-button {
    color: white;
    border: 3px solid white;

}

.action-button.white {
    color: white;
    border: 3px solid white;

}

.project-zone.white .images-list img {
    border: 1px solid white;
}

.action-button > i {
    font-size: 18pt;
    margin-right: 10px;
}

.action-button:hover {
    background-color: black;
    color: white;    
    
}

.project-zone.white .action-button:hover {
    background-color: white;
    color: black;
}

.action-button.white:hover {
    background-color: white;
    color: black;
}

.banner {
    position: sticky;
    top: -1px;
    width: 100%;
    background-color: inherit;
    z-index: 10;            
}

.banner h2 {
    width: fit-content;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
}

.techno {
    display: flex;
    align-items: center;
    font-size: 25pt;
}

.techno > i {
    margin-left: 10px;
    cursor: pointer;
}


.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.social > a {
    margin-right: 5px;
    margin-bottom: 20px;
}

#contact-btn {
    background-color: #000;
    color: white;
}

#contact-btn:hover {
    filter: brightness(0.8);
}


.social > i, a:has(>i) {
    font-size: 30pt;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    color: #000;
}

.social > i:hover, a:hover {
    color: gray;
}

i {
    display: block;
}

.popup-image {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000AA;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.popup-image .popup-content {
    margin: 30px;
    display: flex;
    align-items: center;

}

.popup-image img {
    width: 70vw;
    max-width: 70vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 4px;
    background-color: #00000066;
}

.popup-image p {
    color: white;
    text-align: center;
    margin: 50px;
    text-align: left;
    font-size: 25pt;
}

footer {
    background-color: #000;
    color: white;
    padding: 10px 0px;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: inherit;
    max-width: inherit;
}

.popup-fadeIn {
    animation: fadeIn 0.2s;
}

.popup-fadeOut {
    animation: fadeOut 0.2s;
}


.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFFFFF77;
    backdrop-filter: blur(5px);
    color: white;
    padding: 10px;
    font-size: 20pt;
    border-radius: 50%;
    cursor: pointer;
    z-index: 15;
    box-shadow: 0px 0px 10px 5px #00000022;
    width: fit-content;
    display: flex;
    align-items: center;

    transition: right 0.2s;
}

.go-top.dev {
    border-radius: 20px;
    font-size: 15pt;

}

.go-top > span {
    display: none;
}

.go-top.dev > span {
    display: block;
}

.go-top:hover {
    background-color: #FFFFFFAA;
}



@media screen and (max-width: 800px) {
    .popup-image .popup-content {
        flex-direction: column;
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.contact-form {
    background-color: #303030;
    color: white;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 30px;

}


.contact-form label {
    font-weight: bold;
    margin: 0px;
}

.submit-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

#result {
    opacity: 0;
    transition: 0.5s;
}

.contact-form h2 {
    display: flex;
    align-items: center;
}

.contact-icon {
    font-size: 30pt;
    margin-right: 5px;
    color: gray;
    font-weight: normal;
}


input, textarea {
    background-color: #00000033;
    color: white;
    border: 3px solid gray;
    padding: 12px 10px;
    font-size: 13pt;
    margin: 10px 0px;
    border-radius: 4px;
}


textarea {
    resize: none;
    min-height: 300px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact-form button {
    align-self: right;
}